@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

body h1 {
    font-size: 4rem;
    margin-left: 15rem;
    font-weight: bold;
    font-family: "Outfit", serif;
    width: auto;
    margin-right: 15rem;
}

body h2 {
    font-size: 3rem;
    margin-left: 15rem;
    font-weight: bold;
    font-family: "Outfit", serif;
    width: auto;
    margin-right: 15rem;
    margin-top: 2rem;
}

body h3 {
    font-size: 1.5rem;
    margin-left: 15rem;
    font-weight: bold;
    font-family: "Figtree", serif;
    width: auto;
    margin-right: 15rem;
}

body p {
    margin-left: 15rem;
    font-family: "Figtree", serif;
    width: auto;
    margin-right: 15rem;
    font-size: 18px;
    margin-top: 1rem;
}

.alignImg {
    margin-left: 15rem;
    margin-top: 1rem;
}

span.label-text {
    font-family: "Figtree", serif;
    font-size: 18px;
}

a.btn.btn-primary {
    margin-left: 15rem;
    margin-top: 1rem;
}

html {
    background-color: #000 !important;
    padding-bottom: 5rem;
}

.navbar.bg-base-100.fixed {
    background-color: rgba(28,28,30,.5);
    backdrop-filter: blur(30px) saturate(1);
    z-index: 999;
    margin: 1.5rem;
    border-radius: 24px;
    border: 1px solid hsla(0,0%,100%,.075);
    width: -moz-available;
    width: -webkit-fill-available;
}

.navbar .btn {
    border-radius: 16px;
}

ul.menu.menu-sm.dropdown-content {
    margin-top: 1.5rem;
    background-color: rgba(28,28,30,1);
    border: 1px solid hsla(0,0%,100%,.075);
    border-radius: 1.25rem;
    font-family: "Figtree", serif;
}

.btn-ghost:hover {
    background-color: var(--fallback-bc,oklch(var(--bc)/0.1));
}

.btn.m-1 {
    background-color: rgb(45, 50, 53, 0.5);
}

.chat.chat-start {
    margin-left: 15rem;
}

.chat.chat-end {
    margin-right: 15rem;
}

.collapse.collapse-plus.bg-base-200 {
    width: 60rem ;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 15rem;
}

button.btn.btn-primary {
    margin-left: 15rem;
    margin-top: 1rem;
}

ul.steps {
    width: 60rem;
    margin-left: 15rem;
}

.mockup-window {
    width: 60rem;
    margin-left: 15rem;
    margin-top: 1rem;
}

.input {
    margin-left: 15rem;
    margin-top: 1rem;
}

.modal {
    backdrop-filter: blur(5px);
}

button.btn.no-animation {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 15rem;
    cursor: default;
}

button.btn.no-animation:hover {
    background-color: #191e24;
}

ul.bg-base-100.rounded-t-none.p-2 {
    width: 15rem;
    margin-left: -10rem;
    margin-top: 2rem;
}

.overflow-x-auto {
    width: 60rem;
    margin-left: 15rem;
    margin-top: 1rem;
}

.join {
    margin-top: 1rem;
    margin-left: 15rem;
}

h2#descrizione {
    height: 3rem;
}

.gradient-text {
    background: linear-gradient(to right, #3a4080, #7480ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    text-shadow: #7480ff 0px 0px 25px;
}

.stats {
    margin-left: 15rem;
    font-family: 'Inter';
    width: -moz-available;
    width: -webkit-fill-available;
    margin-right: 15rem;
}

.stat-value {
    font-family: "Outfit", serif;
}

.heroPfinal {
    text-align: end;
    margin-right: 15rem;
}

.heroP {
    background-image: url("https://images.guns.lol/4VJuW.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 69rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #3f4144;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
}

.heroPsemitransp {
    background-color: rgba(28,28,30,.5);
    border: 1px solid hsla(0,0%,100%,.075);
    backdrop-filter: blur(5px);
    border-radius: 1.25rem;
}

.heroPsemitranspPrimary {
    background-color: rgb(116 128 255 / 50%);
    backdrop-filter: blur(5px);
    color: white;
    margin-left: 1rem !important;
    margin-top: 0.5rem !important;
}

.vertical-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    box-shadow: inset 0px 3rem 5rem 0px #000;
    pointer-events: none;
    z-index: -1;
    z-index: 998;
    backdrop-filter: blur(5px);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

button, .btn {
    font-family: "Figtree", serif;
    border-radius: 0.69rem;
}

.tooltip {
    font-family: "Figtree", serif;
}

.stat {
    font-family: "Figtree", serif;
}

.card {
    background-color: rgba(28,28,30,.5);
    border: 1px solid hsla(0,0%,100%,.075);
    border-radius: 1.25rem;
    width: auto !important;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    gap: 2rem;
    margin: 0 15rem;
    width: auto !important;
    margin-top: 0;
}

.discord-tag {
    background-color: #252528; 
    color: white; 
    padding: 0.5rem; 
    border-radius: 0.5rem; 
    width: max-content; 
    display: flex; 
    align-items: center;
    font-family: "Figtree", serif;
    font-weight: bold;
}

.discord-tag img {
    width: 1.25rem; 
    height: 1.25rem; 
    margin-right: 0.5rem;
}

span.loading.loading-spinner {
    margin-left: 15rem;
    margin-top: 1rem;
}

.skeleton {
    background-color: rgba(28,28,30,.5);
    border: 1px solid hsla(0,0%,100%,.075);
    border-radius: 1.25rem;
    margin-left: 15rem;
    margin-top: 1rem;
    filter: opacity(0.5);
}

.alert {
    margin-top: 1rem;
}

.alert.alert-info {
    background-color: rgba(0, 183, 255, 0.5);
    border: 1px solid rgba(0, 183, 255, 0.5);
    color: #ffffff;
}

.alert.alert-warning {
    margin-left: 15rem;
    margin-right: 15rem;
    width: auto;
    margin-bottom: 3em;
    background-color: rgb(255 190 0 / 30%);
    border: 1px solid rgb(255 191 0 / 7%);
    color: #ffffff;
}

.fixedmodal {
    height: 35rem;
    width: 75rem !important;
}

.modal p {
    margin: 0;
}

.modal-box.w-11\/12.max-w-5xl.fixedmodal {
    background-color: rgba(28,28,30,1);
}

.modal .label img {
    display: inline;
    margin-right: 0.5rem;
    vertical-align: inherit;
}

.tab-content h3 {
    margin: 0;
    margin-top: 1rem;
}

.alert {
    margin-left: 15rem;
    margin-right: 15rem;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.alert h3 {
    margin: 0;
}

.coolcard {
    background-color: rgba(28,28,30,.5);
    border: 1px solid hsla(0,0%,100%,.075);
    border-radius: 1.25rem;
    width: auto !important;
}

.tagcard {
    height: 10rem;
}

.tagcard .card-actions a {
    margin-top: -4rem;
}

.dotted {
    margin-left: 17rem;
    margin-top: 1rem;
    list-style-type: disc;
}

.collapse {
    margin-left: 15rem;
    margin-right: 15rem;
    width: auto;
    margin-top: 1rem;
    background-color: rgba(28,28,30,.5);
    border: 1px solid hsla(0,0%,100%,.075);
    border-radius: 1.25rem;
}

.collapse p {
    margin: 0;
}

.collapse-title {
    font-family: "Outfit", serif;
}

.table {
    font-family: "Figtree", serif;
}

/* CSS per i dispositivi col tema impostato sul chiaro */
@media (prefers-color-scheme: light) {
    html {
        background-color: #cfd0d0 !important;
    }

    .navbar.bg-base-100.fixed {
        background-color: rgba(228,228,230,.5);
        border: 1px solid hsla(0,0%,100%,.975);
        backdrop-filter: blur(30px);
        z-index: 999;
    }

    .heroP {
        background-image: url("https://images.guns.lol/3F7N0.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 69rem;
        padding-bottom: 1rem;
        border-bottom: 3px solid #3f4144;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25);
    }

    .heroPsemitransp {
        background-color: rgba(228,228,230,.5);
        border: 1px solid hsla(0,0%,100%,.975);
        backdrop-filter: blur(5px);
    }

    .heroPsemitranspPrimary {
        background-color: rgb(116 128 255 / 25%);
        backdrop-filter: blur(5px);
        color: white;
    }

    .card {
        background-color: rgba(228,228,230,.5);
        border: 1px solid hsla(0,0%,100%,.975);
    }

    .vertical-shadow {
        box-shadow: inset 0px 3rem 5rem 0px #cfd0d0;
        pointer-events: none;
        z-index: -1;
        z-index: 998;
        backdrop-filter: blur(5px);
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }
}

/* Smaller Mobile Devices (for screens smaller than 480px) */
@media (max-width: 1000px) {
    html {
        padding-bottom: 7rem;
    }

    body h1 {
        margin-left: 1rem;
        font-size: 2rem;
        margin-right: 1rem;
        font-family: "Figtree", serif;
    }

    body h2 {
        margin-left: 1rem;
        font-size: 1.5rem;
        margin-right: 1rem;
        font-family: "Figtree", serif;
    }
    
    body p {
        margin-left: 1rem;
        margin-right: 1rem;
        font-family: "Figtree", serif;
    }

    .alignImg {
        margin-left: 1rem;
        margin-top: 1rem;
    }
    

    button.btn.btn-wide {
        margin-top: 1rem;
        width: 10rem;
    }

    .collapse.collapse-plus.bg-base-200 {
        width: auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .chat.chat-start {
        margin-left: 1rem;
    }

    .chat.chat-end {
        margin-right: 1rem;
    }

    button.btn.btn-primary {
        margin-left: 1rem;
        margin-top: 1rem;
    }

    ul.steps {
        width: auto;
        margin-left: 1rem;
        margin-right: 2rem;
    }
    
    .input {
        margin-left: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    button.btn.no-animation {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        cursor: default;
    }

    .overflow-x-auto {
        width: auto;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .join {
        display: grid;
        margin: 0;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 2rem;
        grid-template-columns: auto;
    }

    .card.bg-base-100.w-96.shadow-xl {
        width: auto;
        margin: 1rem;
        container-type: inline-size;
    }

    body h3 {
        font-size: 1.5rem;
        margin-left: 1rem;
        font-weight: bold;
        font-family: "Figtree", serif;
        width: auto;
        margin-right: 1rem;
    }

    .navbar {
        position: fixed !important;
    }

    .stats {
        margin-left: 1rem;
        font-family: 'Inter';
        width: -webkit-fill-available;
        margin-right: 1rem;
    }

    .heroPfinal {
        text-align: end;
        margin-right: 1rem;
    }

    .card {
        margin: 1rem;
    }
    
    .container {
        display: inline;
    }

    .alert.alert-warning {
        margin-left: 1rem;
        margin-right: 1rem;
        width: auto;
        margin-bottom: 0;
    }

    span.loading.loading-spinner {
        margin-left: 1rem;
        margin-top: 0;
    }

    .skeleton {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        margin-bottom: 1rem !important;
    }

    div#tags {
        margin-right: 1rem;
    }

    .coolcard {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .dotted {
        margin-left: 3.5rem;
        margin-top: 1rem;
        list-style-type: disc;
    }

    .collapse {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}